<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 mx-auto">
      <h1 class="text-light">Adopt Don't Shop!</h1>
    </span>
  </div>
</nav>