{{{msg}}}
{{{file}}}
{{{destination}}}

{{!-- Navbar Information --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Adopt Don't Shop!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Adoptable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adopted">Adopted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/success">Success Stories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header text-light text-center">
          <h2>Dogs Available to Adopt</h2>
        </div>
        <div class="card">
          <div class="card-header text-light text-center">
            <h2>Available Dogs:</h2>
          </div>
          <div class="card-body text-center">
            <ul>
              {{#each Adoptable}}
              {{#if adopted}}
              {{> dogs/dogs-block adopted=false}}
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>