html, body { 
  background: url(/assets/imgs/bg-photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stories {
    padding: 10px;
    margin: 10px;
    background-color: #e8f9ff;
  }
  
  .cool-font {
    font-family: 'Courier New', Courier, cursive;
    font-size: 24px;
    color: #440fd6;
  }
  
  .jumbotron {
    font-family: 'Courier New', Courier, cursive;
    color: white;
    background-color: #440fd6;
  }
  
  input,
  textarea {
    margin: 20px;
    border-radius: 15px;
  }
  
  .btn {
    margin: 10px;
    font-family: 'Courier New', Courier, cursive;
    color: #440fd6;
    background-color: white;
    border-color: #440fd6;
    border-style: solid;
    border-width: 3px;
  }
  
  p {
    margin: 0;
    font-size: 16px;
  }

  .dogname, .tellstory, .love {
    font-family: 'Courier New', Courier, cursive;
    color: white;
    background-color: #440fd6;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
    padding: 10px;
  }

  

  .successful {
    font-weight: 700;
    font-size: 80px;
  }
  